.git
.ssh

code/*
!code/.gitkeep
config/*

data/experiments/*
!data/experiments/.gitkeep

data/pipeline/*
!data/pipeline/.gitkeep

data/preprocessed/*
!data/preprocessed/.gitkeep

data/raw/*
!data/raw/.gitkeep

scripts/*
!scripts/test.sh

src/__pycache__

*.json
*.arrow
*.txt
*.csv
code.tar.gz
data.tar.gz