# 사용자 홈 디렉토리 관련 파일 제외
.cache/
.git/
.nv/
.ssh/

# input 파일 제외
input/data/*
input/embed/*
input/checkpoint/*
input/info/*
!input/data/.gitkeep
!input/embed/.gitkeep
!input/checkpoint/.gitkeep
!input/info/.gitkeep

# output 파일 제외
outputs/*
!outputs/.gitkeep

# 캐시 파일 제외
src/arguments/ __pycache__
src/reader/ __pycache__
src/retriever/ __pycache__
src/retriever/dense/ __pycache__
src/retriever/hybrid/ __pycache__
src/retriever/sparse/ __pycache__
