# 사용자 홈 디렉토리 관련 파일 제외
.cache/
.nv/
.ssh/
.bash_history
.bashrc

# 가상환경 폴더 제외
.conda/
miniconda3/

# 데이터 파일 제외
data/raw/*
data/preprocessed/*
data/external/*
!data/raw/.gitkeep
!data/preprocessed/.gitkeep
!data/external/.gitkeep

# 개인 데이터 파일
data/raw_0/*

# 모델 파일 제외
models/*
!models/.gitkeep

# 결과 파일 제외
outputs/*
!outputs/.gitkeep

# 소스코드 캐시 파일 제외
src/__pycache__

# 개인 가상환경 파일
# environment.yml